{% extends 'base.html' %}

{% block title %}Intex{% endblock title %}

{% block content %}
    <h1>Intex</h1>
    <p>Intex is a web application that allows users to search for information about the 2019-2020 coronavirus pandemic. Users can search for information about the virus, the countries affected, and the number of cases and deaths in each country. The application also provides information about the symptoms of the virus and how to protect yourself from it.</p>
    <p>Intex is a project for the course CS50W: Web Programming with Python and JavaScript. The project was developed by </p>
{% endblock  %}